<p class='form-group'>

<!-- if input is active, create new item with on active listId -->

  {{#if input}}
    <div class='input-group'>
      <form {{action 'createItem' newItem listId on='submit'}} id='newItem'>
        {{input value=newItem.name placeholder='Item Name' class='form-control'}}
      </form>
      <span {{action 'editing'}} class='input-group-addon'>
        <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
      </span>
    </div>

<!-- otherwise, have add button active -->

  {{else}}
    <button {{action 'editing'}} class='btn btn-primary'>
      Add item to list
    </button>
  {{/if}}

</p>
